:root {
  --cor-principal: #003c9f;
  --cor-secundaria: #eeeefc;
  --cor-apoio: #deb0da;
  --cor-botao: #2ED5D2;
  --cor-hover: #2FE5FF;
  --cor-branco: #FFF;
  --cor-preto: #000;
  --cor-coral: #f87a81;
}