:root {
  --cor-principal: #36009C;
  --cor-secundaria: #f5f5f5;
  --cor-apoio: #D09BF5;
  --cor-botao: #00C2BA;
  --cor-hover: #097975;
  --cor-branco: #FFF;
  --cor-preto: #000;
  --cor-roxo: #9765E0;
}